.carousel {
    position: relative;
    .slick-slide {
        padding: 0px map-get($spacers, 2);
    }
    & > .prev,
    & > .next {
        top: 50%;
        position: absolute;
        transform: translateY(-50%);
        cursor: pointer;
        transition: all 0.1s ease-in-out;
        color: $secondary;
        user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
        &:hover {
            color: $primary;
            transform: translateY(-50%);
        }
    }
    & > .prev {
        right:100%;
    }
    & > .next {
        left:100%;
    }
}